.main__inspires-text, .main__inspires-title, .main__inspiration-link, .main__inspiration-desc, .main__inspiration-title, .main__title, .main__text, .main__learn-more, .main__learn-more a {
  font-weight: 400;
  color: #ffffff;
}

.footer__form-wrapper form input, .footer__nav-title, .footer__nav-list a, .main__story-link, .main__story-title, .main__innovation-title, .main__team-title, .main__products-desc, .main__products-title, .main__item-price, .main__item-name, .main__desks-info, .main__desks-name, .main__description-link, .main__description-title, .header__nav-list-link, .header__my-cart-link {
  font-weight: 400;
  color: #000000;
}

.main__products-squares-wrapper, .main__items, .main__desks-wrapper, .header__container {
  display: flex;
  align-items: center;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header__container {
  justify-content: space-between;
  padding: 30px 80px 30px 50px;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.header__nav-list-link, .header__my-cart-link {
  font-size: 13px;
  line-height: 15.23px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.main__img-wrapper {
  position: relative;
}
.main__img-wrapper img {
  width: 100%;
  height: auto;
}
.main__text-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.main__title, .main__text, .main__learn-more, .main__learn-more a {
  text-align: center;
}
.main__title {
  margin-top: -75px;
  margin-bottom: 12px;
  font-size: 43px;
  line-height: 46px;
}
.main__text {
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 17.58px;
  letter-spacing: 0.8px;
}
.main__info {
  font-size: 13px;
  line-height: 15.23px;
  letter-spacing: 1.4px;
}
.main__description {
  margin-top: 80px;
  text-align: center;
}
.main__description-title {
  margin-bottom: 23px;
  font-size: 43px;
  line-height: 58px;
}
.main__description-text {
  margin-bottom: 26px;
  color: #a0a0a0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.8px;
}
.main__description-link {
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 1.4px;
}
.main__desks-wrapper {
  justify-content: space-between;
  padding: 81px 50px 130px;
  gap: 25px;
}
.main__desks-text-wrapper, .main__laptop-text-wrapper {
  margin-top: 48px;
  text-align: center;
}
.main__desks-name {
  margin-bottom: 23px;
  font-size: 27px;
  line-height: 30px;
}
.main__desks-info {
  font-size: 13px;
  line-height: 15.23px;
  letter-spacing: 1.4px;
}
.main__items {
  justify-content: space-between;
  padding: 24px 63px 95px;
  gap: 25px;
}
.main__item img {
  margin-bottom: 23px;
}
.main__item-name {
  color: #a0a0a0;
  font-size: 13px;
  letter-spacing: 0.7px;
  line-height: 21px;
}
.main__item-price {
  font-size: 12px;
  color: #a0a0a0;
  line-height: 21px;
  letter-spacing: 0.7px;
}
.main__products-title, .main__products-desc {
  text-align: center;
}
.main__products-title {
  margin-bottom: 16px;
  font-size: 33px;
  line-height: 36px;
}
.main__products-desc {
  margin-bottom: 52px;
  color: #a0a0a0;
  font-size: 15px;
  letter-spacing: 0.8px;
  line-height: 17.58px;
}
.main__products-squares-wrapper {
  justify-content: center;
  gap: 16px;
}
.main__products-square {
  width: 7px;
  height: 7px;
  background-color: #000000;
}
.main__inspiration {
  margin-bottom: 116px;
}
.main__inspiration-img-wrapper {
  position: relative;
}
.main__inspiration-img-wrapper img {
  width: 100%;
  height: auto;
}
.main__inspiration-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -52px;
  width: 100%;
  text-align: center;
}
.main__inspiration-title {
  margin-bottom: 14px;
  font-size: 66px;
  line-height: 70px;
}
.main__inspiration-desc {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.8px;
}
.main__inspiration-link {
  font-size: 13px;
  line-height: 15.23px;
  letter-spacing: 1.4px;
}
.main__innovation-text-wrapper, .main__team-text {
  text-align: center;
}
.main__innovation-title, .main__team-title {
  margin-bottom: 23px;
  line-height: 36px;
  font-size: 34px;
}
.main__innovation-text, .main__team-desc {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  max-width: 777px;
  color: #a0a0a0;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 23px;
}
.main__innovation-img {
  display: block;
  max-width: 1052px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 38px;
}
.main__team {
  margin-bottom: 124px;
}
.main__team-desc {
  margin-bottom: 79px;
}
.main__team-members {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 0 50px;
  gap: 24px;
}
.main__story-text {
  text-align: center;
  margin-bottom: 121px;
}
.main__story-title {
  margin-bottom: 44px;
  font-size: 34px;
  line-height: 36px;
}
.main__story-link {
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 1.4px;
}
.main__inspires {
  margin-bottom: 39px;
}
.main__inspires-container {
  padding: 0 50px;
  position: relative;
}
.main__inspires-container img {
  display: block;
  width: 100%;
  height: auto;
}
.main__inspires-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  transform: translateX(-50%);
}
.main__inspires-title {
  margin-bottom: 23px;
  font-size: 43px;
  line-height: 58px;
  text-align: center;
}
.main__inspires-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.footer__container {
  background: #f9f9f9;
  padding: 77px 50px 28px;
}
.footer__nav-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__nav-list a {
  font-size: 22px;
  line-height: 24px;
}
.footer__navbar {
  display: flex;
  gap: 123px;
  flex: 1;
}
.footer__logo {
  margin-top: -77px;
  width: 82px;
  height: 82px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.8px;
  line-height: 82px;
}
.footer__nav-title {
  margin-bottom: 23px;
  font-size: 22px;
  line-height: 24px;
}
.footer__form-wrapper {
  margin-bottom: 144.55px;
}
.footer__form-wrapper form input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  width: 320px;
  color: #000;
  letter-spacing: 0.8px;
}
.footer__nav-desc {
  margin-bottom: 91px;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.8px;
  color: #a0a0a0;
  width: 348px;
}
.footer__grovemade-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 37px;
}
.footer__grovemade-info a, .footer__grovemade-info p:nth-child(1), .footer__grovemade-info p:nth-child(4) {
  font-size: 13px;
  line-height: 15.23px;
  letter-spacing: 0.8px;
}
.footer__grovemade-info a, .footer__grovemade-info p:nth-child(1) {
  color: #707A7F;
}
.footer__grovemade-info p:nth-child(4) {
  color: #000;
}/*# sourceMappingURL=style.css.map */